.profileStudentBalloon{
    align-items: center;
}

.profileStudentAvatarContainer{
    margin-right: 3%;
}

.profileStudentAvatar{
    display: inline-flex;
    max-width: 130px;
    max-height: 130px; 
    width: 100vh;
    height: 100vh;
}

.progressContentGrid{
    text-align: right;
}

.progressContentContainer{
    display: inline-flex; 
    align-items: center;
    justify-content: right;
}

.progressContainer{
    position: relative;
    float: left;
    text-align: left;
    margin-right: 15px;
}

.progressEmpty{
    color: #EDEDED;
}

.progressFull{
    position: absolute;
    left: 0;
    color: #B2499B;
}

.progressPercentage{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}

.progressTitleContainer{
    width: 50%;
    text-align: left;
}

.lessonsCard{
    max-width: 80%;
    padding: 0.5rem 1.5rem;
    border-radius: 26px;
    box-shadow: none;
    transition: none;
    overflow-y: scroll;
    margin-bottom: 5%;
}

.lessonsCardItem{
    color: #ffffff;
    margin: 5% 0;
    cursor: pointer; 
}

.lessonsCardItemTime{
    font-size: 0.8rem;
}

.accordion{
    min-height: 675px;
    max-height: 675px;
    overflow-y: scroll;
}

.accordionContainer{
    border-radius: 26px;
    border: 2px solid #888888;
    margin-bottom: 1%;
    width: 99%;
    margin-left: 0;
    min-height: 90px;
    padding: 0 1%;
}

.accordionSummary{
    align-items: center;
}

.accordionElement{
    background: none;
    box-shadow: none;
    min-height: 90px;
}

.accordionImgContainer{
    padding-right: 3%;
}

.accordionTitleContainer{
    width: 90%;
    padding-right: 5%;
}

.accordionTitleDivContainer{
    width: 50%;
}

.accordionTitle{
    color: #404040;
    font-weight: 400;
    padding-bottom: 2%;
}

.accordionPercentageContainer{
    width: 50%;
    text-align: right;  
}

.accordionPercentage{
    color: #7E8BB2;
    font-weight: 400;
    padding-bottom: 2%;  
}

.accordionProgress{
    background-color: #F1F1F1;
    height: 10px;
    border-radius: 30px;
}

.accordionProgress span{
    background-color: #B2499B;
}

.accordionDetailContainer{
    background-color: #F0F0F0;
    margin: 2% 1%;
    border-radius: 20px;
    padding: 2%;
    /*height: 300px;*/
    height: 400px;
    overflow-y: scroll;
}

.accordion::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
  
.accordion::-webkit-scrollbar-thumb{
    background-color: #ffffff;
}

.accordionDetailContainer::-webkit-scrollbar{
    width: 25px;
    background-color: transparent;
    border-radius: 10px;
}
  
.accordionDetailContainer::-webkit-scrollbar-thumb{
    border-radius: 10px;
    border: 8px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #ffffff;
}

.accordionSummaryContent{
    align-items: center;
}

.footerContainer{
    justify-content: right;
    align-items: center;
}

.footerButton{
    border-radius: 26px;
    background-color: #ffffff;
    color: #B34B9E;
    border: 1px solid #B34B9E;
}

.footerButtonFull{
    border-radius: 26px;
    background-color: #252847;
    color: #ffffff;
}

.footerLabel{
    font-size: 11pt;
    font-weight: 400;
}



@media only screen and (max-width: 1199px){
    .progressContentGrid{
        text-align: left;
    }
}